body {
background-image: url('7.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
}

@font-face {
    font-family: Patchwork Stitchlings;
    src: url('Patchword Stitchlings.ttf');
}

.title {
  font-family: Patchwork Stitchlings;
  text-align: center;
  color: black;
  font-weight: bold;
}

.t {
  display: inline-block;
}

.tt {
  display: inline-block;
}

.image {
  margin-left: 50px;
}

img.monika {
  float: left;
}

img.natsuki {
  float: left;
}

img.sayori {
  display: inline-block;
  float: left;
}

.text {
  position: absolute; left: 340px;
  position: absolute; right: 340px;
  font-family: sans-serif;
  font-size: 20px;
}

.paragraph {
  text-align:justify;
}

.button {
  border-radius: 40px;
  padding: 20px;
  width: 100px;
  background-color: #FF69B4;
  border: 5px #FF1493;
  font-size: 16px;
  color: white;
}

.paragraph:before {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFB6C1;
        font-size: 10px;
        left: 300px;
        right: 300px;
        padding: 0px;
        margin: 0px;
  opacity: 0.75;
}
